HOST=localhost
PORT=8080
BASE_URL=http://localhost:8080
OAUTH_PROXY_BASE_URL=http://localhost:8081

ACCESS_TOKEN_EXPIRATION=15m
REFRESH_TOKEN_EXPIRATION=7d

DATABASE_URL=

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=

LLM_API_BASE_URL=https://openrouter.ai/api/v1/chat/completions
LLM_API_KEY=
LLM_MODEL=
