name: Release

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  Lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Lint
        uses: golangci/golangci-lint-action@v7
        with:
          version: v2.0

  Test:
    needs: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Setup mockery
        uses: brokeyourbike/go-mockery-action@v0
        with:
          mockery-version: "2.53.3"

      - name: Test
        run: make test

  Build:
    needs: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Setup go
        uses: actions/setup-go@v5
        with:
          go-version: "1.24"

      - name: Setup mockery
        uses: brokeyourbike/go-mockery-action@v0
        with:
          mockery-version: "2.53.3"

      - name: Build Dev
        if: ${{ contains(github.ref, 'refs/heads/main') }}
        run: |
          go mod download
          make gen
          go build -ldflags="-X 'main.BuildTime=$(date --utc '+%FT%TZ')' -X 'main.CommitHash=${{ github.sha }}'" -o bin/backend cmd/backend/main.go

      - name: Build Stage
        if: ${{ contains(github.ref, 'refs/tags/') }}
        run: |
          go mod download
          make gen
          go build -ldflags="-X 'main.BuildTime=$(date --utc '+%FT%TZ')' -X 'main.CommitHash=${{ github.sha }}' -X 'main.Version=${{ github.ref_name }}'" -o bin/backend cmd/backend/main.go

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image (no push)
        uses: docker/build-push-action@v6
        if: ${{ contains(github.ref, 'refs/tags/') }}
        with:
          cache-from: type=gha
          cache-to: type=gha,mode=max
          push: false
          tags: |
            nycusdc/core-system-backend:stage
            nycusdc/core-system-backend:${{ github.ref_name }}
            nycusdc/core-system-backend:${{ github.sha }}
          context: .
